body {
    margin: 20px 100px 0 100px;
}
#addButton {
    margin-top: 10px;
}
#footerView {
    margin-top: 10px;
}
#listView {
    margin-top: 30px;
    border: 5px outset yellow;
}
ul#listView {
	list-style-type: none;
	padding: 10px;
}
